*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #0b67df;
    font-family: 'Poppins', sans-serif;
}
.logo{
    color: rgb(226, 226, 226);
    text-transform: upprcase;
    letter-spacing: 5px;
    font-size: 20px;
}
.nav-links{
    display: flex;
    visibility: visible;
    justify-content: space-around;
    width: 30%;
}
.nav-links li {
    list-style: none;
}
.nav-links a {
    color: rgb(226, 226, 226);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger div{
    width: 25px;
    height: 3px;
    background-color:rgb(226, 226, 226);
    margin: 5px;
}
@media screen and (max-width:1024px) {
    .nav-links{
        width: 60%;
    }
    }
@media screen and (max-width:768px) {
    body{
        overflow-x: hidden;
    }
    .nav-hidden{
        visibility: hidden;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 50%;
        top: 8vh;
        background-color: #0b67df;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 40%;
        transform: translatey(-113%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;

    }
    .burger{
        display: block;
    }
    
}
.nav-active{
    transform: translatey(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translatey(-50px);
    }
    to{
        opacity: 1;        
        transform: translatey(0px);
    }
}


